body{
  margin: 0;
}
.free-space-help{
  width: 104px;
  height: 56px;
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.free-space-container span{
  margin-left: 420px;
  width: 319px;
  height: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.d-none{
  display: none;
}
.free-space-container{

 height: 89px;
 width: 1900px;
 justify-content: space-between;
 align-items: center;
 display: flex;
}
.free-space-help a:hover {
  transform: scale(1.2); /* Vergrößert das Element um 20% */
}
@media (max-width: 428px) {
  .free-space-container span{
    display: none;
  }
   .free-space-container{
    width: 319px;
   } 
   #help-picture{
    display: none;
   }
   #join-logo-responsive{
    display: flex;
   }
   .free-space-help{
    display: flex;
    justify-content: space-between;
    width: 290px;
    padding-left: 15px;
    padding-right: 15px;
   }
   .initials-freespace{
    height: 40px;
   }
}
